
.vs/SEO_Check/v16/.suo
.vs/SEO_Check/v16/Server/sqlite3/db.lock
.vs/SEO_Check/v16/Server/sqlite3/storage.ide
.vs/SEO_Check/v16/Server/sqlite3/storage.ide-shm
.vs/SEO_Check/v16/Server/sqlite3/storage.ide-wal
.vs/SEO_Check/v16/TestStore/0/000-0000.testlog
.vs/SEO_Check/v16/TestStore/0/testlog.manifest
SEO_Check.Domain/bin/Debug/netcoreapp3.0/SEO_Check.Domain.deps.json
SEO_Check.Domain/bin/Debug/netcoreapp3.0/SEO_Check.Domain.dll
SEO_Check.Domain/bin/Debug/netcoreapp3.0/SEO_Check.Domain.pdb
SEO_Check.Domain/obj/Debug/netcoreapp3.0/SEO_Check.Domain.assets.cache
SEO_Check.Domain/obj/Debug/netcoreapp3.0/SEO_Check.Domain.csproj.FileListAbsolute.txt
SEO_Check.Domain/obj/Debug/netcoreapp3.0/SEO_Check.Domain.csprojAssemblyReference.cache
SEO_Check.Domain/obj/Debug/netcoreapp3.0/SEO_Check.Domain.dll
SEO_Check.Domain/obj/Debug/netcoreapp3.0/SEO_Check.Domain.pdb
SEO_Check.Domain/obj/project.assets.json
SEO_Check.Domain/obj/SEO_Check.Domain.csproj.nuget.cache
SEO_Check.Domain/obj/SEO_Check.Domain.csproj.nuget.dgspec.json
SEO_Check.Persistance/bin/Debug/netcoreapp3.0/SEO_Check.Domain.dll
SEO_Check.Persistance/bin/Debug/netcoreapp3.0/SEO_Check.Domain.pdb
SEO_Check.Persistance/bin/Debug/netcoreapp3.0/SEO_Check.Persistance.deps.json
SEO_Check.Persistance/bin/Debug/netcoreapp3.0/SEO_Check.Persistance.dll
SEO_Check.Persistance/bin/Debug/netcoreapp3.0/SEO_Check.Persistance.pdb
SEO_Check.Persistance/bin/Debug/netcoreapp3.0/SEO_Check.Persistance.runtimeconfig.dev.json
SEO_Check.Persistance/bin/Debug/netcoreapp3.0/SEO_Check.Persistance.runtimeconfig.json
SEO_Check.Persistance/obj/Debug/netcoreapp3.0/SEO_Check.Persistance.assets.cache
SEO_Check.Persistance/obj/Debug/netcoreapp3.0/SEO_Check.Persistance.csproj.CopyComplete
SEO_Check.Persistance/obj/Debug/netcoreapp3.0/SEO_Check.Persistance.csproj.FileListAbsolute.txt
SEO_Check.Persistance/obj/Debug/netcoreapp3.0/SEO_Check.Persistance.csprojAssemblyReference.cache
SEO_Check.Persistance/obj/Debug/netcoreapp3.0/SEO_Check.Persistance.dll
SEO_Check.Persistance/obj/Debug/netcoreapp3.0/SEO_Check.Persistance.pdb
SEO_Check.Persistance/obj/project.assets.json
SEO_Check.Persistance/obj/SEO_Check.Persistance.csproj.nuget.cache
SEO_Check.Persistance/obj/SEO_Check.Persistance.csproj.nuget.dgspec.json
SEO_Check.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
SEO_Check.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
SEO_Check.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
SEO_Check.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
SEO_Check.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
SEO_Check.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
SEO_Check.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
SEO_Check.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
SEO_Check.Tests/bin/Debug/Newtonsoft.Json.dll
SEO_Check.Tests/bin/Debug/Newtonsoft.Json.xml
SEO_Check.Tests/bin/Debug/SEO_Check.Tests.dll
SEO_Check.Tests/bin/Debug/SEO_Check.Tests.dll.config
SEO_Check.Tests/bin/Debug/SEO_Check.Tests.pdb
SEO_Check.Tests/bin/Debug/System.Web.Helpers.dll
SEO_Check.Tests/bin/Debug/System.Web.Helpers.xml
SEO_Check.Tests/bin/Debug/System.Web.Mvc.dll
SEO_Check.Tests/bin/Debug/System.Web.Mvc.xml
SEO_Check.Tests/bin/Debug/System.Web.Razor.dll
SEO_Check.Tests/bin/Debug/System.Web.Razor.xml
SEO_Check.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
SEO_Check.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
SEO_Check.Tests/bin/Debug/System.Web.WebPages.dll
SEO_Check.Tests/bin/Debug/System.Web.WebPages.Razor.dll
SEO_Check.Tests/bin/Debug/System.Web.WebPages.Razor.xml
SEO_Check.Tests/bin/Debug/System.Web.WebPages.xml
SEO_Check.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SEO_Check.Tests/obj/Debug/SEO_Check.Tests.csproj.CopyComplete
SEO_Check.Tests/obj/Debug/SEO_Check.Tests.csproj.FileListAbsolute.txt
SEO_Check.Tests/obj/Debug/SEO_Check.Tests.csprojAssemblyReference.cache
SEO_Check.Tests/obj/Debug/SEO_Check.Tests.dll
SEO_Check.Tests/obj/Debug/SEO_Check.Tests.pdb
